* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cornflowerblue;
    font-size: large;
}

h1 {
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

li {
    list-style: square;
}